.atom-input-txt {
    display: inline-flex;
    width: 100%;
    background-color: var(--color-background-input, var(--color-background-form, #fff));
    color: var(--color-text-input, #000);
    font-family: ff-scala-sans-pro, sans-serif;
    font-weight: 300;
    border-radius: 8px;
    border: 1px solid var(--color-text-input, #000);
    /*padding: 0.5em 1em;*/
    padding: calc(7 / var(--size-font-root) * 1em) calc(var(--size-font-root) / var(--size-font-root) * 1em);
    letter-spacing: 1px;
    font-size: calc(var(--size-font-input-text, 16px) / var(--size-font-root) * 1rem);
    line-height: 28px;
}

.atom-input-txt:disabled, .atom-input-txt:disabled + label {
    --color-background-input: #ebebeb;
    cursor: not-allowed;
    opacity: 0.5;
}

/* placeholder text element itself, not the input field */
.atom-input-txt::placeholder {
    /*border: 1px solid blue;*/
    color: #000;
    opacity: 0.5;
}

/* Element that is currently displaying placeholder text,
* including <input> and <textarea> elements with the placeholder attribute present
* that has, as yet, no value.
*/

/* has placeholder attr */
.atom-input-txt[placeholder] {
    /*border: 1px solid yellow;*/
}

/* does not have placeholder attr */
.atom-input-txt:not([placeholder]) {
    /*border: 1px solid green;*/
}

.atom-input-txt[value] {
    /*border: 10px solid orangered;*/
}

/*
stacked
placeholder shown by ' ' (space)
placeholder: ' ',
*/
.atom-input-txt:placeholder-shown {
    /*border: 1px solid aqua;*/
}

.atom-input-txt:not(:placeholder-shown) {
    /*border: 1px solid lime;*/
}

[data-use-css-validation="true"] .atom-input-txt:placeholder-shown {
    /*border: 1px solid mediumpurple;*/
}

[data-use-css-validation="true"] .atom-input-txt:not(:placeholder-shown) {
    /*border: 1px solid lightcoral;*/
}

[data-use-css-validation="true"] .atom-input-txt:not(:placeholder-shown):valid {
    /*border: 1px solid lightseagreen;*/
}

[data-use-css-validation="true"] .atom-input-txt:not(:placeholder-shown):invalid {
    /*border: 1px solid magenta;*/
}

[data-use-css-validation="true"] .atom-input-txt:placeholder-shown:invalid {
    border: 1px solid black;
}

.atom-input-txt:optional {
    /*background-color: #9E5B28;*/
}

/*.atom-input-txt:required {
    border: 1px solid yellow;
}*/
.atom-input-txt:not(:placeholder-shown):required {
    /*border: 1px solid darkmagenta;*/
}

/* not supported yet */
.atom-input-txt:required:user-invalid {
    /*border: 1px solid magenta;*/
}

.atom-input-txt:invalid {
    /*border: 8px dashed red;*/
}

.atom-input-txt:valid {
    /*border: 8px solid green;*/
}

.atom-input-txt:required:valid {
    /*border: 8px solid lightseagreen;*/
}

.atom-input-txt:required:invalid {
    /*border: 1px solid orange;*/
}

/* not supported yet */
.atom-input-txt:blank {
    /*border: 1px solid coral;*/
}

.atom-input-txt:autofill {
    /*background-color: var(--color-accent5);*/
    background-color: var(--color-autofill-input, #fff);
    background-clip: content-box;
    -webkit-box-shadow: 0 0 0 1000px var(--color-autofill-input) inset;
}

.atom-input-txt:-webkit-autofill {
    background-color: var(--color-autofill-input);
    background-clip: content-box;
    -webkit-box-shadow: 0 0 0 1000px var(--color-autofill-input) inset;
}

.atom-input-txt[data-com-onepassword-filled="light"] {
}

.atom-input-txt[data-com-onepassword-filled="dark"] {
}

.atom-input-txt[data-com-onepassword-filled="light"] {
}

.atom-input-txt[data-com-onepassword-filled],
.atom-textarea[data-com-onepassword-filled] {
    /*background-color: unset !important;*/
    background-color: var(--color-autofill-input) !important;
    background-clip: content-box;
    -webkit-box-shadow: 0 0 0 1000px var(--color-autofill-input) inset;
}

/*
.atom-input-txt:focus {
    outline: initial;
}*/
