/*.atom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
}*/

.atom-select {
    position: relative;
    background-color: var(--color-background-input, var(--color-background-form, #fff));
    color: var(--color-text-input, #000);
    border-radius: 8px;
    border: 1px solid black;
    letter-spacing: 1.2px;
    font-size: 16px;
    line-height: 28px;
    /*padding: 8px 16px;*/
}

.atom-select__select-element {
    width: 100%;
    font-family: ff-scala-sans-pro, sans-serif;
    font-weight: 300;
    appearance: none;
    height: 2.75em;
    text-indent: 1em;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    position: relative;
    z-index: 9;
}

.atom-select .sh-atom-icon {
    position: absolute;
    top: 50%;
    right: 1em;
    z-index: 0;
    transform: translateY(-50%);
}

/* states */
/* disabled */
.atom-select__select-element:disabled {
    background-color: #ddd;
    cursor: not-allowed;
    opacity: 0.5;
}