h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

/*font-size: 33px;*/
/*line-height: 50px;*/
/*letter-spacing: 0.07em;*/
/*h2 {*/
/*  font-size: calc(var(--size-font-xxxlarge) / var(--size-font-root) * 1rem);*/
/*  line-height: 50px;*/
/*  letter-spacing: 0.07em;*/
/*}*/

h3 {
  /*font-size: 27px;*/
  font-size: calc(var(--size-font-xxlarge) / var(--size-font-root) * 1rem);
  line-height: 41px;
  letter-spacing: 0.07em;
}

h4 {
}

h5 {
}

h6 {
}