.sh-forms {
	 padding: 0;
	 background-color: var(--color-background-form, #fff);
	 display: flex;
	 flex-direction: column;
	 gap: 28px;
	/* in case the form is used inside a flex container */
	 flex: 1 1 auto;
}
 .sh-forms .sh-forms__fieldset, .sh-forms fieldset {
	 display: inline-flex;
	 align-items: flex-start;
	 flex: 0 0 auto;
}
 .sh-forms[data-labels-on-top="true"] .sh-forms__fieldset:first-child, .sh-forms[data-labels-on-top="true"] fieldset:first-child {
	 flex: 0 0 64px;
	 display: inline-flex;
	 align-items: flex-end;
}
 .sh-forms[data-css-validation="true"] {
	 padding-bottom: 28px;
}
 .sh-forms[data-bg-color="accent1"] {
	 --color-background-form: var(--color-accent1);
}
 .sh-forms[data-color-text-label="accent10"] {
	 --color-text-label: red;
}
 fieldset.sh-forms__fieldset--split {
	 display: flex;
	 column-gap: 1rem;
	 justify-content: space-between;
}
 @media only screen and (max-width: 413px) {
	 fieldset.sh-forms__fieldset--split {
		 flex-wrap: wrap;
		 row-gap: 28px;
	}
}
 fieldset.sh-forms__fieldset--split .sh-forms__input-container {
	 flex: 1 1 50%;
}
 .sh-forms__input-container, .sh-forms__select-container {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-start;
	 align-items: stretch;
	 flex: 1;
}
 .sh-forms__label {
	 font-family: ff-scala-sans-pro, sans-serif;
	 font-size: 16px;
	 color: var(--color-text-label, rgba(0, 0, 0, 0.3));
}
 .sh-forms__label[data-style="on-top"] {
	 cursor: text;
	 padding: 0 4px;
	 align-self: flex-start;
	 font-weight: 300;
	/*background-color: var(--color-background-input, #fff);
	*/
	 font-size: 16px;
	 line-height: 20px;
	 position: absolute;
	 top: 12px;
	 left: 14px;
	 z-index: 9;
	 transition: top 0.3s ease, font-size 0.3s ease, background 0.3s;
}
 .sh-forms__input-container input:focus + label, .sh-forms__select-container select + .sh-forms__label[data-style="on-top"] {
	 top: -10px;
	 font-size: 12px;
	 background-color: var(--color-background-input, var(--color-background-form, #fff));
	/*background-color: var(--color-background-input, transparent);
	*/
	/*background-color: transparent;
	*/
	/*background: linear-gradient(0deg, hsl(45deg 98% 61%) 50%, hsl(54deg 100% 65%) 50%);
	*/
	/*background: linear-gradient(0deg, hsl(45deg 98% 61%) 46%, hsl(208deg 100% 97%), hsl(54deg 100% 65%) 46%);
	*/
}
 .sh-forms__input-container input:not(:placeholder-shown) + label {
	 top: -10px;
	 font-size: 12px;
	 background-color: var(--color-background-input, var(--color-background-form, #fff));
}
 [data-required-fields="show"] .sh-forms__input-container :required ~ .sh-forms__label[data-style="on-top"]::before {
	 content: "*";
	 display: flex;
	 color: #000;
	 width: 20px;
	 height: 45px;
	 position: absolute;
	 visibility: visible;
	 top: -20px;
	 right: -8px;
	 align-items: center;
	 justify-content: center;
	 font-size: 12px;
	 font-weight: 300;
	 pointer-events: none;
}

 .sh-forms__input-container .msg-invalid {
	 visibility: hidden;
	 color: var(--color-henk-danger);
	 font-size: 12px;
}
 .sh-forms__input-container .msg-valid {
	 visibility: hidden;
	 color: var(--color-henk-success);
	 font-size: 12px;
}
/*[data-required-fields="show"] .sh-forms__input-container :required ~ .msg-invalid {
	 position: relative;
}
*/
/*[data-required-fields="show"] .sh-forms__input-container :required ~ .msg-invalid::before {
	 content: "*";
	 display: flex;
	 color: hsl(0deg 100% 50%);
	 width: 20px;
	 height: 45px;
	 position: absolute;
	 visibility: visible;
	 top: -45px;
	 right: 2px;
	 align-items: center;
	 justify-content: center;
	 font-size: 16px;
	 font-weight: 400;
	 pointer-events: none;
}
*/
 .iti input[type="tel"] {
	 width: 100%;
	 border-radius: 8px;
}
 [data-css-validation="true"] .sh-forms__input-txt:invalid:not(:placeholder-shown) {
	 border: 1px solid red;
}
 [data-css-validation="true"] .sh-forms__input-txt:invalid:not(:placeholder-shown) + label + .msg-invalid {
	 visibility: visible;
}
 [data-css-validation="true"] .sh-forms__input-txt:valid:not(:placeholder-shown) + label ~ .msg-valid {
	 visibility: visible;
	 top: -36px;
	 position: relative;
}
 [data-css-validation="true"] .sh-forms__input-txt:valid:not(:placeholder-shown) {
	 border: 1px solid green;
}
/*[data-required-fields="show"][data-css-validation="true"] .sh-forms__input-txt:valid ~ .msg-invalid::before {
	 content: "✅";
}
*/
/*[data-invalid-message]::before {
	 content: " " attr(data-invalid-message) " ";
}
*/
 [data-invalid-message]::after {
	 content: " " attr(data-invalid-message) " ";
	 display: flex;
	 font-size: 12px;
	 color: #000;
	 position: absolute;
	 right: 20px;
	 bottom: -28px;
	 text-align: right;
}
 [data-valid-message]::after {
	 content: " " attr(data-valid-message) " ";
	 display: flex;
	 font-size: 12px;
	 color: #000;
	 position: absolute;
	 right: 20px;
	 bottom: -28px;
	 text-align: right;
}
 .sh-forms__fieldset--split [data-invalid-message]::after {
	 left: 8px;
	 right: auto;
}
