/* .sh-atom-button {
  --size-padding-button: 6px 14px;

  box-sizing: border-box;
  display: inline-block;
  !*display: inline-flex;*!
  background-color: var(--color-background-button, #fff);
  color: var(--color-text-button, #000);
  border: 1px solid var(--color-border-button, #000);
  border-radius: var(--borderradius-button, 50px);
  !* make sure to override font-family browser form button styles*!
  font-family: ff-scala-sans-pro, sans-serif;
  font-size: calc(var(--size-font-button) / var(--size-font-root) * 1rem);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: calc(var(--letterspacing-font-button, 0.1) * 1em);
  line-height: calc(var(--size-lineheight-button, 21) / var(--size-font-button, 12));
  white-space: nowrap;
  padding: var(--size-padding-button, 6px 28px);
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
} */

.sh-atom-button {
  box-sizing: border-box;
  display: inline-block;
  min-inline-size: fit-content;
  border: 0;
  background-color: var(--color-background-button, #fff);
  color: var(--color-text-button, #000);
  border-radius: unset;
  /* background-color: var(--color-background-button, #fff);
  color: var(--color-text-button, #000);
  border: 1px solid var(--color-border-button, #000);
  border-radius: clamp(40px, 5.04032258vw, 50px); */
  font-family: ff-scala-sans-pro, sans-serif;
  font-size: clamp(12px, 1.41129032vw, 14px);
  text-transform: uppercase;
  /* margin-top: calc(28 / var(--var-global-fontsize-root) * 1rem); */
  letter-spacing: 0.2em;
  white-space: nowrap; /* prevent multiple lines */
  line-height: clamp(21px, 2.82258065vw, 28px);
  font-weight: 400;
  /* update: 2022-11-11 • 16:46 - CET
    better vertical center alignment of text
  */
  /* padding: clamp(6px, 0.80645161vw, 8px) clamp(16px, 2.82258065vw, 28px); */
  padding: clamp(6px, 0.80645161vw, 9px) clamp(16px, 2.82258065vw, 28px) clamp(6px, 0.80645161vw, 7px);
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sh-atom-button[data-role="primary"][data-style="filled"] {
  --color-background-button: var(--color-background-button-primary-base, #000);
  --color-text-button: var(--color-text-button-primary-base, #fff);
  --color-background-button-hover: var(--color-background-button-primary-hover, hsl(0deg 0% 12% / 85%));
}

.sh-atom-button[data-role="destructive"] {
  --color-background-button: var(--color-henk-danger, #f00);
}

.sh-atom-button[data-style="plain"] {
  background-color: transparent;
  border: 0;
  border-radius: unset;
  color: var(--color-text-button, #000);
}

.sh-atom-button[data-style="filled"] {
  background-color: var(--color-background-button, #fff);
  color: var(--color-text-button, #000);
  border: 1px solid var(--color-border-button, #000);
  border-radius: clamp(40px, 5.04032258vw, 50px);
}

.sh-atom-button[data-style="plain"][data-role="destructive"] {
  --color-background-button: transparent;
  --color-text-button: var(--color-henk-danger, #f00);
}

/* .sh-atom-button[data-variant="secondary"] {
  --color-background-button: var(--color-background-button-secondary-base, #fff);
  --color-text-button: var(--color-HENK-Black, #000);
  --color-background-button-hover: var(--color-background-button-secondary-hover, hsla(0deg 0% 100% / 85%));
} */

/* .sh-atom-button[data-variant="tertiary"],
.sh-atom-button[data-variant="tertiary-inverted"] {
  --color-background-button: transparent;
  --color-text-button: var(--color-text-button-tertiary-base, #fff);
  --color-background-button-hover: var(--color-background-button-tertiary-hover, transparent);
} */

/*
.sh-atom-button[data-variant="tertiary-inverted"] {
  --color-text-button: var(--color-HENK-White, #fff);
  --color-border-button: var(--color-border-button-tertiary-inverted, red);
}

.sh-atom-button[data-variant="quaternary"] {
  --color-background-button: var(--color-background-button-quaternary-base, #000);
  --color-text-button: var(--color-text-button-quaternary-base, #fff);
  --color-background-button-hover: var(--color-background-button-quaternary-hover, hsl(0deg 0% 12% / 85%));
  --color-border-button: var(--color-border-button-quaternary-base, transparent);
}
*/

/* hovers */
.sh-atom-button:focus,
.sh-atom-button:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.85;
}

.sh-atom-button[disabled],
.sh-atom-button[data-state="disabled"] {
  opacity: .5;
  --color-background-button: var(--color-henk-disabled);
  --color-text-button: #000;
}

.sh-atom-button[disabled]:focus,
.sh-atom-button[data-state="disabled"]:focus,
.sh-atom-button[disabled]:hover,
.sh-atom-button[data-state="disabled"]:hover {
  cursor: not-allowed;
  --color-background-button-hover: var(--color-henk-disabled);
  --color-text-button: #000;
}

.sh-atom-button[data-size="small"] {
  padding: 6px 16px;
  font-size: 12px;
  line-height: 21px;
}

.sh-atom-button[data-icon] {
    display: flex;
    align-items: center;
    gap: 8px;
}
.sh-atom-button[data-icon="arrow-right"] path {
  transition: all .3s ease-in-out;
}

.sh-atom-button[data-icon="arrow-right"]:hover path:first-child {
  transform: translateX(4px);
}

.sh-atom-button[data-icon="arrow-right"]:hover path:first-child + path {
  transform: scaleX(1.25);
}

/* media queries */
/*
@media only screen and (min-width: 768px) {
  .sh-atom-button {
    --size-font-button: 14;
    --size-lineheight-button: 28;
    --size-padding-button: 7px 28px;
  }
}*/
