.molecule-form-checkout {
    background-color: var(--color-background-input);
    padding: 1rem;
}

.molecule-form-checkout__form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: flex-start;
    align-items: flex-start;
}

.molecule-form-checkout__grid-container {
    display: flex;
    gap: 1rem;
    align-self: stretch;
}

.molecule-form-checkout .sh-atom-button {
    /*margin-top: 0;*/
}