.molecule-input-label,
.layout-container-input-label {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    /* in case child label has [data-style="labels-as-placeholders"]   */
    position: relative;
}

[data-show-required-fields="true"] {
    /*background-color: pink;*/
}

[data-show-required-fields="true"] .atom-input-txt:required + .atom-label:not([data-style="labels-as-placeholders"]) {
    /*background-color: deeppink;*/
}

/*[data-show-required-fields="true"] .atom-input-txt:required + .atom-label:not([data-style="labels-as-placeholders"])::after {*/
[data-show-required-fields="true"] .atom-input-txt:required + .atom-label::after {
    content: "*";
    color: var(--color-henk-danger);
    font-weight: 700;
    position: relative;
    left: 4px;
    margin-right: 2px;
}

[data-use-css-validation="true"] .atom-input-txt:required + .atom-label[data-style="labels-as-placeholders"] + .molecule-input-label__message-invalid {
    color: red;
    display: none;
}

@media only screen and (max-width: 767px) {
    [data-use-css-validation="true"] .atom-input-txt:not(:placeholder-shown):invalid + .atom-label[data-style="labels-as-placeholders"] + .molecule-input-label__message-invalid {
        font-size: 12px;
    }
}

[data-use-css-validation="true"] .atom-input-txt:not(:placeholder-shown):invalid + .atom-label[data-style="labels-as-placeholders"] + .molecule-input-label__message-invalid {
    display: block;
    position: absolute;
    top: 46px;
    width: 100%;
    text-align: right;
    font-size: 14px;
    line-height: 1.4;
}

/* show and hide by vanilla JS */
[data-show="false"] {
    display: none;
}

[data-show="true"] {
    display: block;
}