.sbdocs strong {
    font-weight: 700;
}

input[type="checkbox"] {
    display: block !important;
}

.doc-flex {
    display: flex;
    gap: 1rem;
    background-color: pink;
}

.doc-flex__grid-item {
    flex: 1;
}

.doc-grid {
    display: grid;
}