/*
Doc
@title: Blockquote
@group: Atoms
@author: nils@studio-henk.nl
@date: 1 Dec 2021 - 16:58:35
@update: 2023-02-15 • 15:04 - CET
 */

blockquote > p,
blockquote > a > p,
.quote__text {
  font-size: 21px;
  line-height: 34px;
  letter-spacing: 0.07em;
  text-align: center;
  max-width: 945px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

@media only screen and (min-width: 992px) {
  blockquote > p,
  blockquote > a > p,
  .quote__text {
    font-size: calc(
      var(--size-font-xxlarge, 27) / var(--size-font-root, 16) * 1rem
    );
    line-height: 41px;
  }
}

blockquote {
  max-width: 945px;
  margin: 1.75rem auto 0;
}

blockquote > a {
  text-decoration: none;
  color: currentcolor;
}

blockquote > p:first-child::before,
blockquote > a > p:first-child::before,
blockquote .quote__text:first-child::before {
  content: open-quote;
  display: inline-block;
}

blockquote > p:first-child::after,
blockquote > a > p:first-child::after,
blockquote .quote__text:first-child::after {
  content: close-quote;
}

.quote__citation {
  display: block;
  /* see Gist code for future fluid font-size https://gist.github.com/nilshendriks/9dcbbfdbcb94dd62be5850f949ab221b */
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: calc(
    var(--size-lineheight-root, 28) / var(--size-font-small, 14)
  );
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  margin-bottom: 0;
}

.quote__citation cite {
  font-style: italic;
  text-transform: none;
  letter-spacing: normal;
}

@media only screen and (min-width: 992px) {
  .quote__citation {
    font-size: 14px;
  }
}

/* TODO: use css variables */
.quote__jobtitle {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 8px;
}
/* support for floating numbers on high res screens */
@media (min-resolution: 2dppx) {
  .quote__jobtitle {
    letter-spacing: 0.5px;
  }
}

@media only screen and (min-width: 992px) {
  .quote__jobtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  @media (min-resolution: 2dppx) {
    .quote__jobtitle {
      letter-spacing: 2.8px;
    }
  }
}

.sh-atom-blockquote {
  max-width: 670px;
  margin: 0 auto;
}

figure blockquote,
.sh-atom-blockquote blockquote {
  max-width: none;
}

figure figcaption,
.sh-atom-blockquote figcaption {
  text-align: center;
}

:lang(en) q,
:lang(en) blockquote {
  quotes: "‘" "’" "“" "”";
}

:lang(fr) q,
:lang(fr) blockquote {
  quotes: "«" "»" "‹" "›";
}

:lang(de) q,
:lang(de) blockquote {
  quotes: "„" "“" "‚" "‘";
}

:lang(jp) q,
:lang(jp) blockquote {
  quotes: "「" "」" "『" "』";
}

:lang(en-us) q,
:lang(en-us) blockquote,
:lang(en-US) q,
:lang(en-US) blockquote,
:lang(en_US) q,
:lang(en_US) blockquote,
:lang(nl) q,
:lang(nl) blockquote,
:lang(th) q,
:lang(th) blockquote {
  quotes: "“" "”" "‘" "’";
}

:lang(hu) q,
:lang(hu) blockquote {
  quotes: "„" "“" "»" "«";
}
