.molecule-checkout-steps {
  /* border: 1px solid black; */
  padding: 24px;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
}

.molecule-checkout-steps * {
  margin: 0;
}

.molecule-checkout-steps::after {
  content: "";
  background-color: black;
  height: 1px;
  display: flex;
  grid-column: 1/3;
  margin: 0 24px;
}

.molecule-checkout-steps ol {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
}

.molecule-checkout-steps .step-active::after {
  background-color: #000;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid black;
  display: block;
  border-radius: 100%;
  transform: translate(-50%, 50%);
  position: relative;
  left: 50%;
}

.molecule-checkout-steps li a::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 1px solid black;
  display: block;
  border-radius: 100%;
  transform: translate(-50%, 50%);
  position: relative;
  left: 50%;
}

.molecule-checkout-steps a {
  text-decoration: none;
}

/* .molecule-checkout-steps .step-active a::after {
  background-color: #000;
} */
