:root,
::before,
::after {
  --size-font-xxsmall: 12;
  --size-font-xsmall: 13;
  --size-font-small: 14;
  --size-font-base: 16;
  --size-font-root: 16;
  --size-font-medium: 20;
  --size-font-large: 21;
  --size-font-xlarge: 24;
  --size-font-xxlarge: 27;
  --size-font-xxxlarge: 33;
  --size-font-xxxxlarge: 35;
  --size-font-xxxxxlarge: 53;
}