input.atom-radio[type="radio"] {
    display: inline-flex;
    /*height: 1.75rem;*/
    position: relative;
    top: 5px;
}

/* state: disabled */
.atom-radio[type="radio"][disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

input.atom-radio[type="radio"] + .atom-label {
    /*TODO: hook up to css var and alias in config */
    color: #000;
    padding-left: 14px;
}

/*input.atom-radio[type="radio"]:checked {
    color: hsl(120deg 100% 25%);
}*/

/*input.atom-radio[type="radio"]:checked + label {
    color: hsl(120deg 100% 25%);
}*/

[data-custom-radio="true"] .atom-radio {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    /*top: 6px;*/
}

[data-custom-radio="true"] .atom-radio:checked {
  border: 6px solid black;
}