/*variables that control base settings*/
:root,
::before,
::after {

  /*sizes from design as plugin numbers */
  --size-font-body: 16;
  --size-font-lineheight-body: 28;

  /*spacings*/
  /* current 4px */
  /* calc is 4/16, divided by font size root */
  --size-spacing-unit-base: calc(4 / var(--size-font-body) * 1rem);

  /* calc to get line-height multiplier ie 1.75 */
  --size-vertical-rhythm: calc(var(--size-font-lineheight-body, 28px) / var(--size-font-body, 16px));

  /*tmp, move to size tokens? */
  --size-horizontal-rhythm: 1;
}