/*:root, ::before, ::after, html.dark, html.dark body {
  --color-background-page: var(--color-black, #000);
  --color-text-page: var(--color-henk-white, #fff);
}*/

/*
.css-zgt7u1 {
  background: transparent;
}*/
