/*
tokens naming
category-type-item-subitem-state

color-background-button-primary-base
color-background-button-primary-active
color-background-button-primary-disabled

categories: color, size, time, asset, content,
*/

/* css custom props (variables) */
:root,
::before,
::after {
/* @todo: remove when not needed */
  --var-global-fontsize-root: var(--size-font-root, 16);


  /*buttons*/
  --var-global-button-fontsize: 12;
  --var-global-button-lineheight: 21;
  --var-global-button-letterspacing: 0.2em;
  --var-global-button-padding: 6px 28px;
  --mobile-fontsize-button: 12;
  --desktop-fontsize-button: 14;

  --size-font-button: 12px;
  --size-lineheight-button: 21;
  /* end fontsize */

  /* css-vars */
  --var-lineheight: 28;
  --var-global-lineheight: 28;
  --var-letterspacing: 1.2;
  --var-letterspacing-ems: calc(var(--var-letterspacing) / var(--var-global-fontsize-root) * 1em);
}