/*{*/
/*  "size": {*/
/*    "font": {*/
/*      "base":  { "value": "16" },*/
/*      "large": { "value": "20" }*/
/*    }*/
/*  }*/
/*}*/

:root,
::before,
::after {

  /*12px*/
  --size-font-xxsmall: 12;
  /*13px*/
  --size-font-xsmall: 13;
  /*14px*/
  --size-font-small: 14;
  /*16px*/
  --size-font-base: 16;
  --size-font-root: 16;
  /*20px*/
  --size-font-medium: 20;
  /*21px*/
  --size-font-large: 21;
  /*24px*/
  --size-font-xlarge: 24;
  /*27px*/
  --size-font-xxlarge: 27;
  /*33px*/
  --size-font-xxxlarge: 33;
  /*35px*/
  --size-font-xxxxlarge: 35;
  /*53px*/
  --size-font-xxxxxlarge: 53;
}