:root,
::before,
::after {
  /**
  * @tokens Colors
  * @presenter Color
  */
  --var-global-color-transparent: transparent;
  --var-global-color-Black: #000000;
  --var-global-color-White: #ffffff;
  --var-global-color-HENK-Black: hsl(0deg 0% 12%);
  --var-global-color-HENK-White: #f7f8f6;
  --var-global-color-accent1: #f3f1ec;
  --var-global-color-accent2: #f1efe9;
  --var-global-color-accent3: #f2f0e9;
  --var-global-color-accent4: #f1ebdf;
  /*--var-global-color-accent5: #eae4d7;*/
  --var-global-color-accent5: var(--color-accent5, #eae4d7);
  --var-global-color-accent7: #b5af9b;
  --var-global-color-accent8: hsla(26deg 60% 39% / 100%);
  --var-global-color-accent10: #563f24;
  --var-global-color-accent11: #9aabbc;
  --var-global-color-accent12: #60563e;
  --var-global-color-accent13: #988367;
  /*--var-global-color-accent14: #cbc6bc;*/
  --var-global-color-accent14: var(--color-accent14, #cbc6bc);
  --var-global-color-accent15: #f1f0ee;
  --var-global-color-accent16: #6b7156;
  --var-global-color-accent17: #9E5B28;
  --var-global-color-HENK-green-Victorious: var(--var-global-color-accent16);
  --var-global-color-HENK-Danger: hsl(0deg 100% 50% / 100%);
  --var-global-color-HENK-Danger-Darker: hsl(0deg 100% 40% / 100%);
  --var-global-color-HENK-Success: green;
  --var-global-color-HENK-Warning: orange;
  --var-global-color-HENK-Disabled: lightgrey;
  --var-global-button-bgc: var(--var-global-color-White);

  --var-global-button-bgc-hover: var(--var-global-color-transparent);
  --var-global-button-text-color: var(--var-global-color-Black);
  --var-global-button-text-color-hover: var(--var-global-color-Black);
  --var-global-button-border-color: var(--var-global-color-Black);
  --var-global-button-border-color-hover: var(--var-global-color-Black);
  --bg-default: var(--var-global-color-White);
  --fg-default: var(--var-global-color-HENK-Black);
  --org-footer-bg-color: var(--var-global-color-accent14);
}