/*{*/
/*  "size": {*/
/*    "font": {*/
/*      "base":  { "value": "16" },*/
/*      "large": { "value": "20" }*/
/*    }*/
/*  }*/
/*}*/

:root,
::before,
::after {
  /**
  * @tokens Fontsize
  * @presenter FontSize
  */

  /* fnt sizes */
  --var-global-fontsize-xxx-large: 35;
  --var-global-fontsize-xx-large: 24;
  --var-global-fontsize-x-large: 27;
  --var-global-fontsize-large: 20;
  /*--var-global-fontsize-root: 16;*/
  --var-global-fontsize-small: 12;
  --var-global-fontsize-x-small: 12;
  --var-global-fontsize-xx-small: 12;

  /* new */
  /*12px*/
  --size-font-xxsmall: 12;
  /*13px*/
  --size-font-xsmall: 13;
  /*14px*/
  --size-font-small: 14;
  /*16px*/
  --size-font-base: 16;
  --size-font-root: 16;
  /*20px*/
  --size-font-medium: 20;
  /*21px*/
  --size-font-large: 21;
  /*24px*/
  --size-font-xlarge: 24;
  /*27px*/
  --size-font-xxlarge: 27;
  /*33px*/
  --size-font-xxxlarge: 33;
  /*35px*/
  --size-font-xxxxlarge: 35;
  /*53px*/
  --size-font-xxxxxlarge: 53;
  /* @todo: remove when not needed */
  --var-global-fontsize-root: var(--size-font-root, 16);
}