/*{*/
/*  "size": {*/
/*    "font": {*/
/*      "base":  { "value": "16" },*/
/*      "large": { "value": "20" }*/
/*    }*/
/*  }*/
/*}*/

:root,
::before,
::after {
  /**
  * @tokens Fontsize
  * @presenter FontSize
  */
  --size-font-xxxxxlarge-px: 53px;
  --size-font-xxxxlarge-px: 35px;
  --size-font-xxxlarge-px: 33px;
  --size-font-xxlarge-px: 27px;
  --size-font-xlarge-px: 24px;
  --size-font-large-px: 21px;
  --size-font-medium-px: 20px;
  --size-font-root-px: 16px;
  --size-font-base-px: 16px;
  --size-font-small-px: 14px;
  --size-font-xsmall-px: 13px;
  --size-font-xxsmall-px: 12px;
  /**
  * @tokens-end
  */
}