/**
* @tokens Colors
* @presenter Color
*/
:root,
::before,
::after {
  --color-transparent: transparent;
  --color-Black: hsla(0deg 0% 0% / 100%);
  --color-HENK-Black: hsla(0deg 0% 12% / 100%);
  --color-White: hsla(0deg 0% 100% / 100%);
  --color-HENK-White: hsla(90deg 12% 97% / 100%);

  /* accents */
  --color-accent1: #f3f1ec;
  --color-accent2: #f1efe9;
  --color-accent3: #f2f0e9;
  --color-accent4: #f1ebdf;
  --color-accent5: hsla(41deg 31% 88% / 100%);
  --color-accent6: hsla(31deg 36% 69% / 100%);
  --color-accent7: #b5af9b;
  --color-accent8: hsla(26deg 60% 39% / 100%);
  --color-accent10: #563f24;
  --color-accent11: #9aabbc;
  --color-accent12: #60563e;
  --color-accent13: #988367;
  --color-accent14: hsla(40deg 13% 77% / 100%);
  --color-accent15: #f1f0ee;
  --color-accent16: #6b7156;
  --color-accent17: #9E5B28;
  --color-HENK-green-Victorious: var(--color-accent16);
  --color-HENK-Danger: hsl(0deg 100% 50% / 100%);
  --color-HENK-Danger-Darker: hsl(0deg 100% 40% / 100%);
  --color-HENK-Success: green;
  --color-HENK-Warning: orange;
  --color-HENK-Disabled: lightgrey;
}
/**
* @tokens-end
*/