.sh-atom-checkbox-label {
  display: inline-flex;
  gap: 8px;
}

.sh-atom-checkbox-label[data-order="reverse"] {
  flex-direction: row-reverse;
}

/*[data-custom-checkbox="true"] {
  gap: unset;
}*/

/*[data-custom-checkbox="true"] .sh-atom-checkbox {
    width: auto;
    height: auto;
    z-index: 9999;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    cursor: pointer;
}*/

/*[data-custom-checkbox="true"] .sh-atom-label {
  position: relative;
  padding-left: 1.25rem;
}*/

/*[data-custom-checkbox="true"] .sh-atom-label::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    z-index: 2;
}*/

/*[data-custom-checkbox="true"] input[type=checkbox]:checked +.sh-atom-label::before {
    display: block;
    background-image: url(https://www.studio-henk.nl/static/std/assets/toolkit/svg-standalone/icon-checkmark.svg);
}*/

/*[data-custom-checkbox="true"] .sh-atom-label::after {
  background: hsl(0deg 0% 100%);
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid hsl(0deg 0% 0% / 56%);
}*/

/*.sh-atom-checkbox-label[data-order="reverse"][data-custom-checkbox="true"] .sh-atom-label::after {
    right: 0;
    left: auto;
}*/

/*.sh-atom-checkbox-label[data-order="reverse"][data-custom-checkbox="true"] .sh-atom-label {
    padding-left: 0;
    padding-right: 1.25rem;
}*/

/*.sh-atom-checkbox-label[data-order="reverse"][data-custom-checkbox="true"] input[type=checkbox]:checked +.sh-atom-label::before {
    left: auto;
    right: 3px;
}*/

/*[data-custom-checkbox="true"][data-variant="circle"] .sh-atom-label {
  padding-left: 1.5rem;
}*/

/*[data-custom-checkbox="true"][data-variant="circle"] input[type=checkbox]:checked + .sh-atom-label::before {
  background-image: none;
  background-color: #000;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  left: 0;
}*/

/*[data-custom-checkbox="true"][data-variant="circle"] .sh-atom-label::after {
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  border: 1px solid hsl(0deg 0% 0%);
}*/

/*[data-custom-checkbox="true"][data-variant="circle"] .sh-atom-label .icon-checkmark {
  display: none;
}*/

/*
[data-custom-checkbox="true"][data-variant="circle"] input[type=checkbox]:checked + .sh-atom-label .icon-checkmark {
  background-color: hsl(0deg 0% 0% / 0%);
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  display: inline-flex;
}*/
